


@media screen and (max-width : 1024px) {
  .page{
    width: 100vw;
    height: 100vh;
    padding: 15px;
  }

  .players,
  .settings{
      padding-top: 100px;
  }
  .game-wrapper .page .task{
    flex-direction: column;

  }
  .game-wrapper .page .task .card {
    width: 65vw;
    height: 65vw;

  }
  .game-wrapper .page .task .card .front__task{
      font-size: 40px;
      line-height: 46px;
  }
  .game-wrapper .page .buttons-group{
    justify-content: center;
    padding-top: 40px;
  }

  .game-wrapper .page .task .card.card_2{
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media screen and (max-width : 900px) {
  .game-wrapper .page .task .card {
    width: 70vw;
    height: 70vw;

  }
}

@media screen and (max-width : 800px) {

  .game-wrapper .page .task{
    flex-direction: column;

  }
  .game-wrapper .page .task .card {
    width: 80vw;
    height: 80vw;

  }
  .game-wrapper .page .task .card .front__task{
      font-size: 40px;
      line-height: 46px;
  }
  .game-wrapper .page .buttons-group{

    /*padding-top: 40px;*/
  }
}
@media screen and (max-width : 420px) {
  .page{
    width: 100vw;
    height: 100vh;
    padding: 15px;
  }

  .players,
  .settings{
      padding-top: 100px;
  }
  .game-wrapper .page .task{
    flex-direction: column;
  
  }
  .game-wrapper .page .task .card {


  }
  .game-wrapper .page .task .card .front__task{
      font-size: 20px;
      line-height: 26px;
  }
  .game-wrapper .page .buttons-group{

    padding-top: 0px;
  }
}
