body{
  width: 100vw;
  height: 100vh;
  background-image: url(assets/bg.png);
}

#app{
  height: 100vh;
  background-color: rgba(0, 0, 10, 0.9);
}
.page{
  width: 800px;
  height: 500px;
  margin: 20px auto;
  border-radius: 8px;
  margin-bottom: 14px;
  padding: 25px 25px 25px 20px;
  background: rgba(25, 28, 43, .9);
  height: 70%;
  color: gray;
}
.game-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.game-wrapper .page .el-progress-bar__outer {
  background-color: darkslategrey !important;
}